<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CAPA_DE_PRESENTACION/static/estilos//reset.css">
    <title>Resetear Contraseña</title>
</head>
<body>   
    <div class="container-login">
        <div class="container-login_items">
            <span class="img-icon_login"></span>
            <div id="container-form_login" class="container-form_login">
                <p class="welcome-login">Recuperar Contraseña</p>
                <form id="form" class="form-reset" action="/resetPassword" method="POST">
                    <input type="text" id="reset" name="reset" class="reset-password" placeholder="Ingresa tu email">
                    <button type="submit" class="button-continue_reset">Recuperar</button>
                </form>
        </div>
    </div>
</body>
</html>
