*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    background-color: #220854;        
    box-sizing: border-box;
    padding: 50px;
    height: 100vh;
}

  .container-index_items{
    flex-grow: 1;
    flex-basis: 0;    
   }

  .contenedorContenido{ 
    box-sizing: border-box;
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 2px 9px 8px rgba(0, 0, 0, 0.158);
    justify-content: center;
    padding-top: 3rem;
    
    height: 100%;

    color: white;
    text-align: center;
    background-image: url("../imagenes/imagenFondoLogin.jpg");
    background-position: 53% 0%;
    
    background-repeat: no-repeat;
  }
  
  .contenedorContenido p{
    margin-bottom: 40px;
  } 

  .contenedorContenido a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: #a04d95;
    border-radius: 10px;
  } 

  .contenedorContenido a:nth-child(2){
    background-color: transparent;
    border: 2px solid #a04d95;
    color: #d4cbd3;
    box-shadow: 2px 2px 9px 8px rgba(0, 0, 0, 0.062);
  } 

  .contenedorContenido a:hover{
    background-color: #b377aa;
  }
  
  
  .tituloChat{
    font-size: 4rem;
  }

  @media only screen and (max-width:900px) {
    .contenedorContenido{ 
      display: flex;
      background-image: url("../imagenes/imagenFondoLogin.jpg");
      background-position: 45% 0%;
      
      background-repeat: no-repeat;
    }
  }